/* old browser support */
aside, section, header, footer, nav{
}
/* element overrides and resets */
body{
	font-family: 'Marcellus', serif;
	font-size:14px;
	color:#2b2e28;
	background:url(../img/marble-bg.jpg) center center;
}
img{
	max-width:100%;
	height:auto;
}
/* clearfix block clear hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/* page layout */
.content{
	width:100%;
}
.container{
	margin:0 auto;
	max-width:980px;
}
.third{
	width:33%;
}
.left{
	float:left;
}
aside{
	width:33%;
	float:left;
	background:#d0c8b8;
}
section#body{
	width:66%;
	float:right;
}
section#body h1, section#body h2, section#body h3, section#body h4, section#body h5{
	font-family: 'Marcellus', serif;
	color:#80600a;
}
section#body h1, section#body h2{
	font-size:36px;
}
/* nav styles */
nav ul{
	list-style-type:none;
	text-align:center;
	padding:0;
}
nav ul a{
	display:block;
	text-decoration:none;
	font-size:24px;
	color:#3d3c3f;
	text-transform:uppercase;
	margin:10px 0;
}
nav ul a:hover{
	color:#80600a;
}
/* footer */
footer{
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
}
/* mobile phone styles */
@media (max-width: 500px){
	.container{
		padding:20px;
	}
	aside{
		width:100%;
		float:none;
	}
	section#body{
		width:100%;
		float:none;
	}
	.third{
		width:auto;
	}
	.left{
		float:none;
	}
	.headslide{
		display:none;
	}
}